@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$primary: tomato;

:root {
  --gColor: red;
  --Oshodi: "Manrope", sans-serif;
  --Lekki: "League Spartan", sans-serif;
}
